.button {
    display: inline-block;
    padding: 5px 8px;
    background: var(--second);
    color: var(--main);
    border: 2px solid var(--main);
    transition: all 200ms;
    position: relative;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
    user-select: none;

    &::before {
        content: '';
        display: block;
        width: 200%;
        height: 200%;
        background: var(--main);
        position: absolute;
        left: 72%;
        top: 72%;
        transition: all 200ms;
        border-radius: 100%;
        z-index: -1;
    }
    &:hover {
        color: var(--second);
    }
    &:active {
        transform: scale(.7);
    }
    &:hover {
        &::before {

            left: 0;
            top: 0;
            border-radius: 0;
        }
    }
}