body{

    > header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 200;
        text-align: right;
        user-select: none;
        display: flex;
        flex-direction: row;

        h1 {
            font-size: inherit;
            margin: 0;
            float: left;
            line-height: 31px;
            flex: 1 1 auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: left;
        }

        .headerButton {
            @extend .button;
            margin: 0px 2px;
            font-size: 17px;
        }

        button {
            flex: 0 0 auto;
        }

        .mainSearch {
            > input {
                line-height: 17px;

            }

            .list {
                display: none;
                position: absolute;
                min-width: 400px;
                max-width: calc(100vw - 20px);
                right: 10px;
                border: 1px solid rgba(#000, .5);
                backdrop-filter: var(--standardBackdropFilter);
                text-align: left;
                max-height: calc(100vh - 150px);
                overflow: auto;

                @media(max-width: 500px) {
                    min-width: calc(100vw - 20px);
                }

                .item {
                    display: block;
                    text-decoration: none;
                    padding: 10px 15px;
                    color: inherit;

                    &:hover, &.active {
                        background: rgba(#000, .2);
                    }

                    &:active {
                        background: rgba(#000, .2);
                    }

                }
            }

            &:focus-within {
                .list {
                    display: block;
                }
            }


        }
    }


}
.loginInfo {
    @extend .top-expandable;

    > .loginInfo-expandable {
        text-align: center;
        @extend .list;
    }
}

.top-expandable {
    display: inline-block;

    > .list {

        display: none;
        position: absolute;
        width: 200px;
        height: 300px;
        overflow: auto;
        margin-left: -152px;
        >*{
            display: block;
        }
    }

    &:hover, &:focus-within, &.open {
        > .list {
            display: block;
        }
    }
}


.installPWA {
    font-size: 1em;
    margin-right: 5px;
}
