@import "fontello";
@import "fontello-codes";
@import "colors";
@import "cards";
@import "buttons";
@import "table";
@import "form";
@import "top";
@import "modal";

body {
    background: #ddd;
    font-family: sans-serif;

    > header {
        background: var(--main);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 31px;
        z-index: 200;
        text-align: right;

        .headerButton {
            @extend .button;
        }
    }

    > aside {
        position: fixed;
        left: 0;
        top: 31px;
        bottom: 0;
        width: 200px;
        background: #eee;
        overflow: auto;
        z-index: 100;

        nav {
            user-select: none;

            ul {
                margin: 0;
                padding: 0;

                li {
                    display: block;

                    a, span {
                        display: block;
                        text-decoration: none;
                        padding: 5px 10px;
                        color: #333;
                    }

                    a {
                        &:hover {
                            color: #000;
                            background: var(--main);
                        }
                    }

                    li {
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    > .mainContent {
        margin: calc(31px + 2.5em) 0 0 200px;
        position: relative;

        .page {
            position: absolute;
            animation: page-in 200ms ease-out;
            left: 0;
            right: 0;
            transform-origin: 50% 100px;

            &.removing {
                animation: page-out 200ms ease-out;
                visibility: collapse;
            }

            &.stillLoading {
                animation: none;
                visibility: collapse;
            }

            .grid {
                display: flex;
                flex-wrap: wrap;

                > a {
                    display: contents;
                    color: inherit;
                    text-decoration: inherit;
                }
            }

            @keyframes page-in {
                0% {
                    opacity: 0;
                    transform: translateY(20px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            @keyframes page-out {
                0% {
                    opacity: 1;
                    transform: translateY(0);
                    visibility: visible;
                }
                100% {
                    opacity: 0;
                    transform: translateY(-20px);
                    visibility: visible;
                }
            }

            > form {
                display: contents;
            }

            .topBarButtons {
                position: fixed;
                top: 31px;
                right: 0;
                padding: calc(0.75em - 7px);
                z-index: 60;
            }
        }

        > .topBar {
            position: fixed;
            top: 31px;
            left: 200px;
            right: 0;
            background: #fff;
            border-bottom: 1px solid #aaa;
            z-index: 50;

            .breadcrumb {
                ul {
                    margin: 0;
                    padding: 0;
                    line-height: 2.5;
                    overflow: hidden;

                    li {
                        margin: 0;
                        padding: 0;
                        display: inline-block;

                        &::after {
                            //  content:''
                        }

                        a {
                            display: block;
                            padding: 0 15px;
                            margin-left: -10px;
                            clip-path: polygon(0 100%, 10px 50%, 0 0, calc(100% - 10px) 0, 100% 50%, calc(100% - 10px) 100%);
                            transition: 300ms all;
                            text-decoration: none;
                            //animation: breadcrumb-in 600ms ease-out;
                            transform-origin: 0% 50%;

                            @keyframes breadcrumb-in {
                                0% {
                                    opacity: 0;
                                    transform: scale(1.2);
                                    background: transparent;
                                }
                                50% {
                                    opacity: 1;
                                    transform: scale(1);
                                    background: transparent;
                                }
                                60% {
                                    background: var(--main);
                                }
                                100% {
                                    background: transparent;
                                }
                            }

                            &:hover {
                                background: var(--main)
                            }
                        }
                    }
                }
            }
        }
    }
}

button.hamburgerMenu {
    display: none;
}

@media (max-width: 800px) {
    button.hamburgerMenu {
        display: inline-block;
        float: left;
    }
    body > .mainContent {
        margin-left: 0;
    }
    body > .mainContent > .topBar {
        left: 0;
    }
    body > aside {
        left: -200px;
        transition: 300ms ease-out;
    }
    body::before {
        content: '';
        display: block;
        backdrop-filter: blur(10px);
        background: rgba(#000,.2);
        left: 100%;
        right: 0;
        top: 0;
        bottom: 0;
        position: fixed;
        z-index: 80;
        transition: 300ms ease-out;
    }
    body.hamburgerMenu-opened {
        &::before {
            left: 0%;
        }

        aside {
            left: 0;
        }
    }
}