
body {
    background: var(--backgroundMain);
    font-family: sans-serif;
    color: var(--textColor);
    font-size: 16px;
    --standardBackdropFilter: blur(10px) contrast(.3) brightness(1.65);
    @media screen and (prefers-color-scheme: dark) {
        --standardBackdropFilter: blur(10px) contrast(.3) brightness(0.56);
    }
    @media (max-width: 800px) {
        margin: 0;
        padding: 0;
    }

    > header {
        button.hamburgerMenu:not(.dummyClass) {
            display: none;
        }
    }

    > aside {
        position: fixed;
        left: 0;
        top: 31px;
        bottom: 0;
        width: 200px;
        background: var(--menuColor);
        overflow: auto;
        z-index: 100;
        display: flex;
        flex-direction: column;

        nav {
            user-select: none;
            flex-grow: 1;

            ul {
                margin: 0;
                padding: 0;

                li {
                    display: block;

                    a, span {
                        display: block;
                        text-decoration: none;
                        padding: 5px 10px;
                        color: #333;
                    }

                    a {
                        &:hover, &:focus {
                            color: #000;
                            background: var(--main);
                        }
                    }

                    @media screen and (prefers-color-scheme: dark) {
                        a, span {
                            color: #ddd;
                        }
                        a {
                            &:hover {
                                color: #fff;
                            }
                        }
                    }

                    li {
                        margin-left: 20px;
                    }
                }
            }
        }

        .madeBy {
            text-align: center;
            padding: 5px;

            a {
                color: inherit;
                text-decoration: none;
                display: block;
            }
        }
    }

    > .mainContent {
        margin: calc(31px + 2.5em) 0 0 200px;
        position: relative;

        [data-views="main"] {
            &.loading, &.loaded {
                &::before {
                    content: '';
                    display: block;
                    width: 200px;
                    height: 200px;
                    position: absolute;
                    border: 5px solid;
                    border-left-color: transparent;
                    border-right-color: transparent;
                    animation: loading-main-view 1s, loading-main-view-spin 1.5s infinite ease-in-out;
                    left: calc(50% - 100px);
                    top: 100px;
                    border-radius: 50%;

                    @keyframes loading-main-view {
                        0% {
                            opacity: 0;
                        }
                        50% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 1
                        }

                    }
                    @keyframes loading-main-view-spin {
                        0% {
                            transform: rotate(0deg);
                        }
                        100% {
                            transform: rotate(540deg);
                        }
                    }
                }
            }

            &.loaded {
                &::before {
                    display: none;
                    animation: loaded-main-view .2s;

                    @keyframes loaded-main-view {
                        0% {
                            display: block;
                            opacity: 1;
                        }
                        100% {
                            display: block;
                            opacity: 0;
                        }
                    }
                }
            }
        }

        .page {
            position: absolute;
            left: 0;
            right: 0;
            transform-origin: 50% 100px;

            > * {
                will-change: opacity;
                animation: page-in 300ms ease-out;
            }

            .topBarButtons {
                position: fixed;
                top: 31px;
                right: 0;
                padding: calc(0.75em - 7px);
                z-index: 60;
                display: flex;
                gap: 5px;
                max-width: 50%;
                @media (max-width: 700px) {
                    max-width: 75%;
                }

                a, button {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &.removing {
                > * {
                    animation: page-out 200ms ease-in forwards;
                    pointer-events: none;
                }
            }

            &.stillLoading {
                animation: none;
                visibility: collapse;
            }

            .grid {
                display: flex;
                flex-wrap: wrap;

                > a {
                    display: contents;
                    color: inherit;
                    text-decoration: inherit;
                }
            }

            @keyframes page-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @keyframes page-out {
                0% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }

            > form {
                display: contents;
            }

        }

        > .topBar {
            position: fixed;
            top: 31px;
            left: 200px;
            right: 0;
            background: transparent;
            border-bottom: 1px solid #aaa;
            -webkit-backdrop-filter: var(--standardBackdropFilter);
            backdrop-filter: var(--standardBackdropFilter);
            z-index: 50;

            .breadcrumb {
                user-select: none;

                ul {
                    margin: 0;
                    padding: 0;
                    line-height: 2.5;
                    overflow: auto;
                    display: flex;
                    padding-right: 50%;
                    @media (max-width: 700px) {
                        padding-right: 75%;
                    }

                    li {
                        margin: 0;
                        padding: 0;
                        display: inline-block;
                        flex-shrink: 0;

                        &::after {
                            //  content:''
                        }

                        a {
                            display: block;
                            padding: 0 15px;
                            margin-left: -10px;

                            text-decoration: none;
                            //animation: breadcrumb-in 600ms ease-out;
                            transform-origin: 0% 50%;
                            color: inherit;

                            @keyframes breadcrumb-in {
                                0% {
                                    opacity: 0;
                                    transform: scale(1.2);
                                    background: transparent;
                                }
                                50% {
                                    opacity: 1;
                                    transform: scale(1);
                                    background: transparent;
                                }
                                60% {
                                    background: var(--main);
                                }
                                100% {
                                    background: transparent;
                                }
                            }

                            &:hover, &:focus {
                                background: var(--main)
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 800px) {

    body {
        > header {
            button.hamburgerMenu:not(.dummyClass) {
                display: inline-block;
                float: left;
            }

            > h1 {


                text-align: center;
            }
        }

        > .mainContent {
            margin-left: 0;
        }

        > .mainContent > .topBar {
            left: 0;
        }

        > aside {
            left: -200px;
            transition: 300ms ease-out;
        }

        &::before {
            content: '';
            display: block;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            background: rgba(#000, .2);
            left: 100%;
            right: 0;
            top: 0;
            bottom: 0;
            position: fixed;
            z-index: 80;
            transition: 300ms ease-out;
        }

        &.hamburgerMenu-opened {
            &::before {
                left: 0%;
            }

            aside {
                left: 0;
            }
        }
    }
}
