table {
    width: 100%;
    border-collapse: collapse;

    thead {
        th {
            position: sticky;
            top: 60px;
            background: var(--second);
            color: #fff;

            .tableCopy {
                display: none;
            }
        }
    }
    tr {
        &:nth-child(2n) {
            background: rgba(#000000, .2);

            &:hover {
                background: rgba(#000000, .3);
            }
        }
        &:nth-child(2n+1) {
            background: rgba(#000000, .05);

            &:hover {
                background: rgba(#000000, .25);
            }
        }
        td {
            padding: 5px 10px;
            margin: 0;

        }
    }
}

.dataTableContainer {
    border: 1px solid var(--second);
}