table {
    width: 100%;
    border-collapse: collapse;

    thead {
        th {
            position: sticky;
            top: 71px;
            z-index: 1;
            background: var(--second);
            color: var(--textSecondColor);
            cursor: default;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &.ableToSort {
                @extend .icon;
                @extend .icon-down;
                cursor: pointer;

                &::before {
                    transform: scaleY(0);
                    transition: all 300ms ease-out;
                    position: absolute;
                    right: 0;
                }

                &[data-order="asc"] {
                    &::before {
                        transform: scaleY(1);
                    }
                }

                &[data-order="desc"] {
                    &::before {
                        transform: scaleY(-1);
                    }
                }
            }

            .tableCopy {
                display: none;
            }

            &[data-sortable] {
                cursor: pointer;
            }
        }
    }


    tfoot {


        tr {
            td {
                padding: 5px 10px;
                margin: 0;
            }
        }
    }

    .pagination {
        float: left;

        button {
            margin-right: -2px;
        }
    }

    .search {
        float: right;
    }


    &.bigTable {
        table-layout: fixed;

        td, th {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &:focus-within {
        tbody tr.selected {
            &:nth-child(2n) {
                td, th {
                    background: hsla(240, 100%, 40%, .5);
                }

                &:hover {
                    td, th {
                        background: hsla(240, 100%, 35%, .5);
                    }
                }
            }

            &:nth-child(2n+1) {
                td, th {
                    background: hsla(240, 100%, 47.5%, .5);
                }

                &:hover {
                    td, th {
                        background: hsla(240, 100%, 37.5%, .5);
                    }
                }
            }
        }
    }
}


.dataTableContainer {
    overflow: auto;
    border: 1px solid var(--second);

    table {
        th, td {
            &:not(.tableActions-cell) {
                user-select: none;
            }
        }

        thead {
            th {
                top: 0;
            }
        }
    }
}

.tableScrollVertical {
    overflow-x: auto;
}
