[data-layout="winxp"] {
    --main: #849211;
    --mainLight: #c0c0c0;
    --second: #000000;
    --background: #F4F3EE;
    --backgroundMain: #ECE9D8;
    --textColor: #000;
    --textSecondColor: #fff;
    --menuColor: #eee;

    font-family: Tahoma, Corbel, sans-serif;
    font-size: 11px;

    body {
        font-family: Tahoma, Corbel, sans-serif;
        font-size: 11px;
    }

    @import "header";


    ::-webkit-scrollbar {
        background: #c0c0c0;
        border-top: 1px solid #c0c0c0;
        border-left: 1px solid #c0c0c0;
        border-bottom: 1px solid #020202;
        border-right: 1px solid #020202;
    }

    ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-button {
        background: #c0c0c0;
        border-top: 1px solid #c0c0c0;
        border-left: 1px solid #c0c0c0;
        border-bottom: 1px solid #020202;
        border-right: 1px solid #020202;
        box-shadow: 1px 1px 0 #dfdfdf inset, -1px -1px 0 #808080 inset;

        &:active {
            border-top: 1px solid #020202;
            border-left: 1px solid #020202;
            border-bottom: 1px solid #c0c0c0;
            border-right: 1px solid #c0c0c0;
            box-shadow: 1px 1px 0 #808080 inset, -1px -1px 0 #dfdfdf inset;

        }
    }

    ::-webkit-scrollbar-track {
        background: #dcdfe0;
    }

    .card {
        border: 1px solid #919B9C;
        box-shadow: 0 0 0 1px #FCFCFE inset, 1px 1px 1px rgba(0, 0, 0, 0.2);
        background: linear-gradient(0deg, #F4F3EE, #FCFCFE);
        padding: 6px 14px;

        > header {
            margin: 0 0 6px 0;
            padding: 0 0 6px 0;
            border-bottom: 1px #FFFFFF solid;
            box-shadow: 0 -1px 0 #ACA899 inset;

            h1 {
                margin: 0;
                font-size: 1em;
                line-height: 19px;
            }
        }

        > footer {
            border-top: 1px solid #ACA899;
            box-shadow: 0 1px 0 #ffffff inset;
            margin: 6px 0 0 0;
            padding: 6px 0 0 0;
        }
    }

    .button, button:not(.browsersDefault):not(.swaggerContainer *) {
        background: #e8e6e1;
        border: 1px solid #003C74;
        transition: none;
        cursor: default;
        font-family: inherit;
        border-radius: 3px;
        position: relative;
        z-index: 0;
        box-shadow: -1px -1px 0 #DCD8CD, 1px 1px 0 #FDFDFC;
        overflow: hidden;


        //background: #F0F0EB;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -2;

            background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, .4), rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
            box-shadow: -2px -2px 2px -2px rgba(0, 0, 0, 0.2) inset, 0px 3px 1px -2px rgba(255, 255, 255, 0.5) inset;
        }


        &:focus {
            outline: none;

            &::before {
                box-shadow: 0px 3px 1px -2px rgba(255, 255, 255, 0.5) inset, 0px 3px 1px -2px #89ADE488 inset, -3px -3px 3px -1px rgba(0, 0, 0, 0.1) inset, 0 0 0 2px #6982EE inset;
            }
        }

        &:hover {
            &::before {
                box-shadow: 0px 3px 1px -2px rgba(255, 255, 255, 0.5) inset, 0px 3px 1px -2px #F9BA4288 inset, -3px -3px 3px -1px rgba(0, 0, 0, 0.1) inset, 0 0 0 2px #d9a13b inset;
            }
        }

    }


    body > aside {
        background: linear-gradient(0, #7AA1E6, #6375D6);
        top: 26px;

        nav > ul {
            a{
                color:#215DC6;
            }
            > li {
                display: block;
                margin: 15px 12px;
                background: #D6DFF7;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                overflow: hidden;


                a{
                    &:hover{
                        background: inherit;
                        text-decoration: underline;
                        color:#428EFF;
                    }
                }
                > a, > span {
                    display: block;
                    background: linear-gradient(90deg, #fff 50%, #C6D3F7 100%);
                    &:hover{
                        background: linear-gradient(90deg, #fff 50%, #C6D3F7 100%);

                    }
                }

                > ul {
                    border: 1px solid #fff;
                    border-top: none;
                    li {

                    }
                }
            }
        }
    }

    table, table-view {
        border-collapse: separate;
        border-spacing: 0;
        border-top: 1px solid #808080;
        border-left: 1px solid #808080;
        border-bottom: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        box-shadow: 1px 1px 0 #000000 inset, -1px -1px 0 #dfdfdf inset;
        padding: 1px;
        background: #ffffff;

        thead th, .head .column {
            @extend .button;
            background: var(--background);
            display: table-cell;
            margin: 0;
            color: #000;
            position: sticky;
            position: absolute; //todo do sticky
        }

        tbody td, .body .tr:not(.dummy-class):not(.dummy-class2) {
            background: transparent;

            &.selected {
                background: #aaaaaa;
                color: #ffffff;
            }

            &:focus {
                outline: 1px dotted;
            }

            &.selectedMain {
                outline: 1px dotted;
            }

            .td {
                padding: 6px 10px;
                background: transparent;
            }
        }

        &:focus-within {
            .body .tr.selected:not(.dummy-class):not(.dummy-class2) {
                background: #0000ff;
            }
        }

        .pagination button {
            margin: 0;
        }
    }

    body > .mainContent > .topBar {
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        background: var(--background);
        top: 26px;
    }

    .contextMenu {
        border-top: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #000000;
        box-shadow: 1px 1px 0 #dfdfdf inset, -1px -1px 0 #808080 inset;
        background: var(--background);

        li {
            cursor: default;

            &:hover, &:focus {
                background: var(--main);
                color: #fff;
                outline: none;
            }
        }

    }

    .input, input:not(.browsersDefault), textarea:not(.browsersDefault), select:not(.browsersDefault) {
        background: white;
        border: 1px solid #7F9DB9;
        font-family: inherit;

        line-height: 1.7;
        font-size: 1em;
        box-sizing: border-box;

        &:focus {
            outline: none;
        }
    }

    select:not(.browsersDefault) {
        &::before {
            content: 'aaa';
            display: block;
        }
    }

    .checkbox {
        appearance: none;
        -webkit-appearance: none;
        width: 1em;
        height: 1em;
        position: relative;

        &::before {
            content: '';
            display: none;
            width: 0.4em;
            height: 0.2em;
            position: absolute;
            left: 0;
            top: 0;
            border-bottom: 2px solid var(--second);
            border-left: 2px solid var(--second);
            border-top: none;
            border-right: none;
            border-radius: 0;
            z-index: 1;
            background: transparent;
            transform: translate(40%, 60%) rotate(-45deg);
        }

        &:checked, &.checked {
            &::before {
                display: block;
            }
        }
    }

    data-view {
        border: none;

        table-view {
            --rowHeight: 30px;
            margin-right: -6px;
            margin-left: -6px;


            .head {
                background: var(--background);

                .column {
                    padding: 0 8px;
                }
            }

            .body {
                .tr {
                    .td {
                        button, .button {
                            font-size: 12px;
                            line-height: 0;
                        }
                    }
                }
            }
        }

        .foot {
            border-top: 1px solid #808080;
            border-left: 1px solid #808080;
            border-bottom: 1px solid #ffffff;
            border-right: 1px solid #ffffff;
            margin-top: 4px;
            margin-bottom: -6px;
            margin-right: -6px;
            margin-left: -6px;
            padding: 4px;

            form {
                input {
                    height: 100%;
                }
            }
        }
    }

    body > .mainContent > .topBar .breadcrumb ul li a {
        border: 1px solid transparent;
        clip-path: none;
        margin: 1px;

        &:hover, &:focus {
            border-top-color: #ffffff;
            border-left-color: #ffffff;
            border-right-color: #808080;
            border-bottom-color: #808080;
            background: transparent;
        }

        &:active {
            border-top-color: #808080;
            border-left-color: #808080;
            border-right-color: #ffffff;
            border-bottom-color: #ffffff;
            background: transparent;
        }
    }
}
