[data-layout="win98"] {
    --main: #849211;
    --mainLight: #c0c0c0;
    --second: #000000;
    --background: #c0c0c0;
    --backgroundMain: #c0c0c0;
    --textColor: #000;
    --textSecondColor: #fff;
    --menuColor: #eee;

    font-family: Tahoma, Corbel, sans-serif;
    font-size: 11px;

    body {
        font-family: Tahoma, Corbel, sans-serif;
        font-size: 11px;
    }

    @import "header";


    ::-webkit-scrollbar {
        background: #c0c0c0;
        border-top: 1px solid #c0c0c0;
        border-left: 1px solid #c0c0c0;
        border-bottom: 1px solid #020202;
        border-right: 1px solid #020202;
    }

    ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-button {
        background: #c0c0c0;
        border-top: 1px solid #c0c0c0;
        border-left: 1px solid #c0c0c0;
        border-bottom: 1px solid #020202;
        border-right: 1px solid #020202;
        box-shadow: 1px 1px 0 #dfdfdf inset, -1px -1px 0 #808080 inset;

        &:active {
            border-top: 1px solid #020202;
            border-left: 1px solid #020202;
            border-bottom: 1px solid #c0c0c0;
            border-right: 1px solid #c0c0c0;
            box-shadow: 1px 1px 0 #808080 inset, -1px -1px 0 #dfdfdf inset;

        }
    }

    ::-webkit-scrollbar-track {
        background: #dcdfe0;
    }

    .card {
        //border-top: 1px solid #ffffff;
        //border-left: 1px solid #ffffff;
        //border-bottom: 1px solid #000000;
        //border-right: 1px solid #000000;
        //box-shadow: 1px 1px 0 #dfdfdf inset, -1px -1px 0 #808080 inset;

        border-top: 1px solid #DEDFDF;
        border-left: 1px solid #DEDFDF;
        border-bottom: 1px solid #020202;
        border-right: 1px solid #020202;
        box-shadow: 1px 1px 0 #ffffff inset, -1px 0 0 #818181 inset, 0 -1px 0 #808080 inset;
        padding: 6px 14px;
        //padding:1px;
        > header {
            margin: 0 0 6px 0;
            padding: 0 0 6px 0;
            font-size: 1em;
            border-bottom: 1px solid #ffffff;
            box-shadow: 0 -1px 0 #808080 inset;

            h1 {
                margin: 0;
                font-size: 1em;
                line-height: 19px;
            }
        }

        > footer {
            border-top: 1px solid #808080;
            box-shadow: 0 1px 0 #ffffff inset;
            margin: 6px 0 0 0;
            padding: 6px 0 0 0;
        }
    }

    .button, button:not(.browsersDefault):not(.swaggerContainer *) {
        border-top: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #000000;
        box-shadow: 1px 1px 0 #dfdfdf inset, -1px -1px 0 #808080 inset;
        transition: none;
        cursor: default;
        font-family: inherit;

        &::before {
            display: none;
        }

        &:focus {
            border: 1px solid black;
            box-shadow: 1px 1px 0 #ffffff inset, -1px -1px 0 #000000 inset, 2px 2px 0 #dfdfdf inset, -2px -2px 0 #808080 inset;
            outline: 1px dotted;
            outline-offset: -5px;
        }

        &:active {
            transform: none;
            border-top: 1px solid #000000;
            border-left: 1px solid #000000;
            border-bottom: 1px solid #ffffff;
            border-right: 1px solid #ffffff;
            box-shadow: 1px 1px 0 #808080 inset, -1px -1px 0 #dfdfdf inset;
        }
    }


    body > aside {
        border-top: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #000000;
        box-shadow: 1px 1px 0 #dfdfdf inset, -1px -1px 0 #808080 inset;

        nav ul {
            margin: 2px;

            li {
                a, span {
                    cursor: default;
                    color: #000;
                }

                a {
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }

    table, table-view {
        border-collapse: separate;
        border-spacing: 0;
        border-top: 1px solid #808080;
        border-left: 1px solid #808080;
        border-bottom: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        box-shadow: 1px 1px 0 #000000 inset, -1px -1px 0 #dfdfdf inset;
        padding: 1px;
        background: #ffffff;

        thead th, .head {
            height: 14px;

            .column {

                @extend .button;
                background: var(--background);
                display: table-cell;
                margin: 0;
                color: #000;
                position: sticky;
                position: absolute; //todo do sticky
                height: 14px;
            }
        }

        tbody td, .body .tr:not(.dummy-class):not(.dummy-class2) {
            background: transparent;

            &.selected {
                background: #aaaaaa;
                color: #ffffff;
            }


            &:focus, &.selectedMain {
                outline: none;
                border: 1px dotted #000;

                .td {
                    margin-top: -1px;
                    margin-bottom: -1px;

                    &:first-child {
                        margin-left: -1px;
                    }

                    &:last-child {
                        margin-right: -1px;
                    }
                }
            }

            &.selected.selectedMain {
                border: 1px dotted #FFFF7F;
            }

            .td {
                padding: 1px 10px;
                background: transparent;
                line-height: 1;
            }

            .actions {
                .button, button {
                    padding: 0 3px;
                    font-size: 6px;
                    line-height: 11px;
                    margin: 0 2px;
                    display: block;
                }
            }
        }

        &:focus-within {
            .body .tr.selected:not(.dummy-class):not(.dummy-class2) {
                background: #0000ff;
            }
        }

        .pagination button {
            margin: 0;
        }
    }

    body > .mainContent > .topBar {
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        background: var(--background);
    }

    .contextMenu {
        border-top: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #000000;
        box-shadow: 1px 1px 0 #dfdfdf inset, -1px -1px 0 #808080 inset;
        background: var(--background);

        li {
            cursor: default;

            &:hover, &:focus {
                background: var(--main);
                color: #fff;
                outline: none;
            }
        }

    }

    .input, input:not(.browsersDefault), textarea:not(.browsersDefault), select:not(.browsersDefault) {
        background: white;
        border-top: 1px solid #808080;
        border-left: 1px solid #808080;
        border-bottom: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        box-shadow: 1px 1px 0 #000000 inset, -1px -1px 0 #dfdfdf inset;
        font-family: inherit;
        box-sizing: border-box;

        &:focus {
            outline: none;
        }
    }

    select:not(.browsersDefault) {
        &::before {
            content: 'aaa';
            display: block;
        }
    }

    .checkbox {
        appearance: none;
        -webkit-appearance: none;
        width: 1em;
        height: 1em;
        position: relative;

        &::before {
            content: '';
            display: none;
            width: 0.4em;
            height: 0.2em;
            position: absolute;
            left: 0;
            top: 0;
            border-bottom: 2px solid var(--second);
            border-left: 2px solid var(--second);
            border-top: none;
            border-right: none;
            border-radius: 0;
            z-index: 1;
            background: transparent;
            transform: translate(40%, 60%) rotate(-45deg);
        }

        &:checked, &.checked {
            &::before {
                display: block;
            }
        }
    }

    data-view {
        border: none;

        table-view {
            --rowHeight: 13px;
            margin-right: -6px;
            margin-left: -6px;


            .head {
                background: var(--background);

                .column {
                    padding: 0 8px;
                }
            }

            .body {
                .tr {
                    .td {
                        button, .button {
                            font-size: 12px;
                            line-height: 0;
                        }
                    }
                }
            }
        }

        .foot {
            border-top: 1px solid #808080;
            border-left: 1px solid #808080;
            border-bottom: 1px solid #ffffff;
            border-right: 1px solid #ffffff;
            margin-top: 4px;
            margin-bottom: -6px;
            margin-right: -6px;
            margin-left: -6px;
            padding: 4px;

            form {
                input {
                    height: 100%;
                }
            }
        }
    }

    body > .mainContent > .topBar .breadcrumb ul li a {
        border: 1px solid transparent;
        clip-path: none;
        margin: 1px;

        &:hover, &:focus {
            border-top-color: #ffffff;
            border-left-color: #ffffff;
            border-right-color: #808080;
            border-bottom-color: #808080;
            background: transparent;
        }

        &:active {
            border-top-color: #808080;
            border-left-color: #808080;
            border-right-color: #ffffff;
            border-bottom-color: #ffffff;
            background: transparent;
        }
    }
}
