[data-layout="text"] {
    --main: #0000ff;
    --mainLight: #00ffff;
    --second: #000000;
    --background: #000000;
    --backgroundMain: #000000;
    --textColor: #fff;
    --textSecondColor: #fff;
    --menuColor: #000000;
    font-size: 14px;
    @import "header";

    html, body {
        font-family: monospace;
        line-height: 1;
    }

    body > aside {
        top: 1em;

        nav {
            ul {
                li {


                    span, a {
                        color: #fff;
                    }
                }
            }
        }
    }

    body > .mainContent {
        margin-top: 2em;
        > .topBar {
            top: 1em;
            background: var(--main);

            .breadcrumb {

                ul {

                    li {
                        a {
                            line-height: 1;
                        }
                    }
                }
            }
        }
        .page{
            .topBarButtons{
                top: 1em;
                padding: 0;
                .button{
padding: 0;
                    line-height: 1;
                }
            }
        }
    }

    input:not(.browserDefault), .input {
        font: inherit;
        background: transparent;
        border: none;
        padding: 0;
        line-height: 1;
        appearance: none;
        -webkit-appearance: none;

        &:focus {
            outline: none;
            background: var(--mainLight);
        }
    }

    .card {
        margin: 1em;
        background: green;
        padding: 1em 1ch;

        > header {
            border: none;
            padding: 0;
            margin: 0;

            h1 {
                font-size: 1em;
            }

            &:after {
                content: '-----------'
            }
        }

        p {
            margin: 1em 0;
        }

        > footer {
            border: none;

            &:before {
                content: '-----------';
                display: block;
            }
        }
    }

    .button {
        background: transparent;
        border: none;
        font: inherit;
        color: inherit;

        &:before {
            content: '>';
        }

        &::after {
            content: '<';
        }
    }

    .checkbox {

        appearance: none;
        -webkit-appearance: none;
        display: inline-block;
        width: auto;

        &::before {
            content: '[ ]';
        }

        &:checked, &.checked {
            &::before {
                content: '[X]';
            }
        }
    }

    data-view {
        table-view {
            --rowHeight: 28px;

            .head {
                height: 1rem;
                background: var(--background);

                .column {
                    padding: 0;
                    height: 1rem;
                }
            }

            .body {
                .tr {
                    &.selectMain, &:focus {
                        outline: none;
                        background: red;
                    }
                }

                .td {
                    &.icon {
                        font-size: 0.8em;
                    }

                    padding: 0;
                    margin-top: 14px;
                    height: 14px;

                    button, .button {
                        font-size: 12px;
                        padding: 0;

                        &.icon {
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    }
}
