body {

    > header {
        background: var(--main);
        height: 31px;

        h1 {
            margin: 0 8px;
        }

        .mainSearch {
            input {
                height: 31px;
            }

            .list {
                border: 1px solid rgba(#000, .5);
                -webkit-backdrop-filter: var(--standardBackdropFilter);
                backdrop-filter: var(--standardBackdropFilter);
                .item {
                    padding: 10px 15px;
                    color: inherit;

                    &:hover, &.active {
                        background: rgba(#000, .2);
                    }

                    &:active {
                        background: rgba(#000, .2);
                    }

                }
            }
        }

        .loginInfo {
            .headerButton {
                margin: 0 5px;
            }
        }


    }
}

.loginInfo {
    .loginInfo-expandable {

        -webkit-backdrop-filter: var(--standardBackdropFilter);
        backdrop-filter: var(--standardBackdropFilter);
        border: 1px solid;
        margin-left: -152px;

        > * {
            margin: 8px;
            width: calc(100% - 16px);
            display: block;
            box-sizing: border-box;
        }
    }
}

@media (max-width: 550px) {
    body {

        > header {
            .mainSearch {
                > input {
                    width: 40px;
                }

                &:focus-within, &hover {
                    > input {
                        width: 200px;
                        margin-left: -160px;
                    }
                }
            }
        }
    }
}
