[data-layout="metro"] {
    @import "./buttons";
    @import "./form";
    @import "./contextMenu";
    @import "./modal";
    @import "./objectsList";
    @import "./header";
    @import "./table";

    .action-add {
        --main: #1be7ee;
        --mainLight: #8fffe5;
        @media screen and (prefers-color-scheme: dark) {
            --main: #0d6d70;
            --mainLight: #108387;
        }
    }

    .action-edit {
        --main: #1bee26;
        --mainLight: #96ff8f;
        @media screen and (prefers-color-scheme: dark) {
            --main: #0d7012;
            --mainLight: #108716;
        }
    }

    .action-view {
        --main: #d7ee1b;
        --mainLight: #e0ff8f;
        @media screen and (prefers-color-scheme: dark) {
            --main: #646f0d;
            --mainLight: #788610;
        }
    }

    .action-delete {
        --main: #ee1b1b;
        --mainLight: #ff8f8f;
        @media screen and (prefers-color-scheme: dark) {
            --main: #6f0d0d;
            --mainLight: #861010;
        }
    }

    .card {
        > header {
            border-top: 10px solid var(--main);
            margin-top: -10px;
        }
    }

    body > .mainContent > .topBar .breadcrumb ul li a {
        clip-path: polygon(-10px 100%, 0px 50%, -10px 0, calc(100% - 10px) 0,calc(100% - 10px) 50%, calc(100% - 10px) 100%);
        transition: 300ms all;

        &:hover, &:focus {
            clip-path: polygon(0 100%, 10px 50%, 0 0, calc(100% - 10px) 0, 100% 50%, calc(100% - 10px) 100%);
        }
    }
}
