[data-layout="metro"] {
    @import "./buttons";
    @import "./form";
    @import "./contextMenu";
    @import "./modal";
    @import "./objectsList";
    @import "./header";
.action-add{
    --main: #1be7ee;
    --mainLight: #8fffe5;
}
    .action-edit{
        --main: #1bee26;
        --mainLight: #96ff8f;
    }
    .action-view{
        --main: #d7ee1b;
        --mainLight: #e0ff8f;
    }
    .action-delete{
        --main: #ee1b1b;
        --mainLight: #ff8f8f;
    }
    .card {
        >header{
            border-top: 10px solid var(--main);
            margin-top: -10px;
        }
    }
}
