body {

    > header {
        background: linear-gradient(180deg, #88b5c0 0, #478d9e calc(14 / 29 * 100%), #146377 calc(14 / 29 * 100%), #54a1ab calc(28 / 29 * 100%), #97c6ce );
        border-bottom: 1px solid #083141;
        height: 29px;
        color:#fff;
        text-shadow: 2px 2px 2px black;
        h1{
            margin: 0 8px;
        }
        input[type="search"]{
            height: 24px;
            margin: 3px 5px;
        }
        button.hamburgerMenu{
            height: 24px;
            margin: 3px 5px;
        }
        .loginInfo{
            .headerButton{
                font-size: 14px;
                line-height: 1;
                margin: 3px 5px;
                display: inline-block;
            }
        }
    }
}
.loginInfo {
    .loginInfo-expandable{

        background: var(--background);    border-top: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #000000;
        box-shadow: 1px 1px 0 #dfdfdf inset, -1px -1px 0 #808080 inset;
        margin-left: -155px;

    }
}
