[data-layout="vista"] {
    --main: #849211;
    --mainLight: #c0c0c0;
    --second: #000000;
    --background: #Ffffff;
    --backgroundMain: #Ffffff;
    --textColor: #000;
    --textSecondColor: #fff;
    --menuColor: #eee;

    font-family: Tahoma, Corbel, sans-serif;
    font-size: 12px;

    body {
        font-family: Tahoma, Corbel, sans-serif;
        font-size: 11px;
    }

    @import "header";


    ::-webkit-scrollbar {
        background: red;
    }

    ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-button {
        background: linear-gradient(90deg, #f5f5f5, #e9e9eb 50%, #d9dadc 50%, #c0c0c4);
        border:1px solid #979797;
        border-radius: 1px;

        &:active {
            border-top: 1px solid #020202;
            border-left: 1px solid #020202;
            border-bottom: 1px solid #c0c0c0;
            border-right: 1px solid #c0c0c0;
            box-shadow: 1px 1px 0 #808080 inset, -1px -1px 0 #dfdfdf inset;

        }
    }

    ::-webkit-scrollbar-track {
        border-left: 1px solid #f8f8f8;
        right: 1px solid #eaeaea;
        background: linear-gradient(90deg, #e3e3e3, #efefef calc(3 / 15 * 100% ), #f2f2f2);
    }

    .card {
        border: none;
        background: transparent;

        > header {
            margin: 0;
            padding: 0;
            border: none;

            h1 {
                font-size: 16px;
                font-weight: inherit;
            }
        }

        > footer {
            margin: 0;
            padding: 0;
            border: none;
        }
    }

    .button, button:not(.browsersDefault):not(.swaggerContainer *) {
        border: 1px solid #707070;
        transition: all 1s ease;
        cursor: default;
        font-family: inherit;
        border-radius: 3px;
        position: relative;
        background: transparent;

        &::before {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            content: '';
            display: block;
            z-index: -2;
            box-shadow: 0px 0px 0px 1px #fff inset;
            background: linear-gradient(180deg, #F2F2F2, #EBEBEB 50%, #DDDDDD 50%, #CFCFCF);
            opacity: 1;
            transition: all 1s ease;
        }

        &::after {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            content: '';
            display: block;
            z-index: -1;
            box-shadow: 0px 0px 0px 1px #EDF8FE inset;
            background: linear-gradient(180deg, #EAF6FD, #D9F0FC 50%, #BEE6FD 50%, #A7D9F5);
            opacity: 0;
            transition: all 1s ease;
        }

        &:hover {
            border: 1px solid #3C7FB1;

            &::after {
                opacity: 1;
            }
        }

        &:focus {
            border: 1px solid black;
            box-shadow: 1px 1px 0 #ffffff inset, -1px -1px 0 #000000 inset, 2px 2px 0 #dfdfdf inset, -2px -2px 0 #808080 inset;
            outline: 1px dotted;
            outline-offset: -5px;
        }

        &:active {
            transform: none;
            border-top: 1px solid #000000;
            border-left: 1px solid #000000;
            border-bottom: 1px solid #ffffff;
            border-right: 1px solid #ffffff;
            box-shadow: 1px 1px 0 #808080 inset, -1px -1px 0 #dfdfdf inset;
        }
    }


    body > aside {
        background: linear-gradient(180deg, #416fa6, #6bb86e);
        width: 200px;
        color: #fff;
        top: 30px;

        nav > ul {
            margin: 15px 29px;

            li {
                margin: 6px 0;

                a, span {
                    cursor: default;
                    color: #fff;
                    padding: 0;
                    margin: 0;
                    font-size: 12px;
                    line-height: 1.3;

                    &:hover {
                        background: transparent;
                        text-decoration: underline;
                    }
                }

                a {
                    &:hover {
                        color: #fff;
                    }
                }

                ul {
                    margin-left: 8px;
                }
            }
        }
    }

    table, table-view {
        border-collapse: separate;
        border-spacing: 0;
        border-top: 1px solid #808080;
        border-left: 1px solid #808080;
        border-bottom: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        box-shadow: 1px 1px 0 #000000 inset, -1px -1px 0 #dfdfdf inset;
        padding: 1px;
        background: #ffffff;

        thead th, .head .column {
            background: linear-gradient(180deg,#fff,#fff calc(9 / 22 * 100%), #f7f8fa calc(9 / 22 * 100%),#f1f2f4);
            display: table-cell;
            margin: 0;
            color: #000;
            position: sticky;
            position: absolute; //todo do sticky
            border-right: 1px solid #dedfe1;
            border-bottom: 1px solid #d5d5d5;
            box-shadow: 1px 0 #fff inset, -1px 0 #fff inset;
            &:hover{
                box-shadow: none;
                background: linear-gradient(180deg,#f2f9fc,#f2f9fc calc(9 / 22 * 100%), #e1f1f9 calc(9 / 22 * 100%),#d8ecf6);
                border-right: 1px solid #96d9f9;
                border-bottom: 1px solid #96d9f9;
            }
        }

        tbody td, .body .tr:not(.dummy-class):not(.dummy-class2) {
            background: transparent;

            &.selected {
                background: #aaaaaa;
                color: #ffffff;
            }

            &:focus {
                outline: 1px dotted;
            }

            &.selectedMain {
                outline: 1px dotted;
            }

            .td {
                padding: 6px 10px;
                background: transparent;
            }
        }

        &:focus-within {
            .body .tr.selected:not(.dummy-class):not(.dummy-class2) {
                background: #0000ff;
            }
        }

        .pagination button {
            margin: 0;
        }
    }

    body > .mainContent > .topBar {
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        background: var(--background);
    }

    .contextMenu {
        border-top: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #000000;
        box-shadow: 1px 1px 0 #dfdfdf inset, -1px -1px 0 #808080 inset;
        background: var(--background);

        li {
            cursor: default;

            &:hover, &:focus {
                background: var(--main);
                color: #fff;
                outline: none;
            }
        }

    }

    .input, input:not(.browsersDefault), textarea:not(.browsersDefault), select:not(.browsersDefault) {
        background: white;
        border-top: 1px solid #abadb3;
        border-left: 1px solid #e2e3ea;
        border-right: 1px solid #dbdfe6;
        border-bottom: 1px solid #e3e9ef;
        font-family: inherit;
        border-radius: 1px;

        line-height: 1.7;
        font-size: 1em;

        &:focus {
            outline: none;
        }
    }

    select:not(.browsersDefault) {
        &::before {
            content: 'aaa';
            display: block;
        }
    }

    .checkbox {
        appearance: none;
        -webkit-appearance: none;
        width: 1em;
        height: 1em;
        position: relative;

        &::before {
            content: '';
            display: none;
            width: 0.4em;
            height: 0.2em;
            position: absolute;
            left: 0;
            top: 0;
            border-bottom: 2px solid var(--second);
            border-left: 2px solid var(--second);
            border-top: none;
            border-right: none;
            border-radius: 0;
            z-index: 1;
            background: transparent;
            transform: translate(40%, 60%) rotate(-45deg);
        }

        &:checked, &.checked {
            &::before {
                display: block;
            }
        }
    }

    data-view {
        border: none;

        table-view {
            --rowHeight: 30px;
            margin-right: -6px;
            margin-left: -6px;


            .head {
                background: var(--background);

                .column {
                    padding: 0 8px;
                }
            }

            .body {
                .tr {
                    .td {
                        button, .button {
                            font-size: 12px;
                            line-height: 0;
                        }
                    }
                }
            }
        }

        .foot {
            border-top: 1px solid #808080;
            border-left: 1px solid #808080;
            border-bottom: 1px solid #ffffff;
            border-right: 1px solid #ffffff;
            margin-top: 4px;
            margin-bottom: -6px;
            margin-right: -6px;
            margin-left: -6px;
            padding: 4px;

            form {
                input {
                    height: 100%;
                }
            }
        }
    }

    body > .mainContent > .topBar .breadcrumb ul li a {
        border: 1px solid transparent;
        clip-path: none;
        margin: 1px;

        &:hover, &:focus {
            border-top-color: #ffffff;
            border-left-color: #ffffff;
            border-right-color: #808080;
            border-bottom-color: #808080;
            background: transparent;
        }

        &:active {
            border-top-color: #808080;
            border-left-color: #808080;
            border-right-color: #ffffff;
            border-bottom-color: #ffffff;
            background: transparent;
        }
    }
}
