@font-face {
    font-family: 'Geist';
    src:url("/dist/CommonBase/fonts/Geist/Geist-Light.woff2") format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Geist';
    src:url("/dist/CommonBase/fonts/Geist/Geist-Regular.woff2") format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Geist';
    src:url("/dist/CommonBase/fonts/Geist/Geist-Medium.woff2") format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'Geist';
    src:url("/dist/CommonBase/fonts/Geist/Geist-Bold.woff2") format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Geist';
    src:url("/dist/CommonBase/fonts/Geist/Geist-ExtraBold.woff2") format('woff2');
    font-weight: 800;
}
@font-face {
    font-family: 'Geist';
    src:url("/dist/CommonBase/fonts/Geist/Geist-Black.woff2") format('woff2');
    font-weight: 900;
}
