.input{
    box-shadow:rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: transparent;
    border: 0.66px solid rgb(228, 228, 231);
    border-radius: 6px;
    color:rgb(9, 9, 11);
    outline:none;
    box-sizing: border-box;
    &:focus{
        outline:none;
       box-shadow:rgb(255, 255, 255) 0px 0px 0px 0px, rgb(161, 161, 170) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    }
}

.button{
    background: rgba(24, 24, 27, 0.992);
    color:rgb(250, 250, 250);
    padding: 8px 16px;
    border-radius: 6px;
}
.checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 1.15em;
    height: 1.15em;
    padding: 0;
    position: relative;
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);

    &::before {
        content: '';
        display: none;
        width: 0.4em;
        height: 0.2em;
        position: absolute;
        left: 0;
        top: 0;
        border-bottom: 2px solid var(--main);
        border-left: 2px solid var(--main);
        border-top: none;
        border-right: none;
        border-radius: 0;
        z-index: 1;
        background: transparent;
        transform: translate(40%, 60%) rotate(-45deg);
    }
    &:checked, &.checked {
        background: var(--second);
        &::before {
            display: block;
        }
    }
}
form{
    label{
        display: block;
        margin-bottom: 24px;
        span{
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 8px;
            display: block;
        }
    }
}
